<h1>Blackjack</h1>
<p>Welcome! <%= "#{@player.name}" %></p>
<p><%= "The name is :#{session[:player_name]}" %></p>

<div class="well">
  <h4>
    <%=  "Player's point is :#{calculate_point(@player.hold_cards)}" %><br/>
    cards:
  </h4>
  <% @player.hold_cards.each do |e| %>
    <%= "[#{e.suit.to_s}, #{e.face_value.to_s}]" %><br/>

  <% end %>
</div>
<br/>
<div class="well">
  <h4>
    <%=  "Dealer's point is :#{calculate_point(@dealer.hold_cards)}" %><br/>
    cards:
  </h4>
  <% @dealer.hold_cards.each do |e| %>
    <%= "[#{e.suit.to_s}, #{e.face_value.to_s}]" %><br/>
  <% end %>
</div>


