<h1>Blackjack</h1>
<% if session[:turn_over] %>
  <p><a href="/new_turn" class="btn btn-small btn-primary disabled">Start a new round.</a></p>
<% end %>
<div class="well" id='player_area'>
  <h4>
    <%=  "#{@player.name}'s cards:" %><br/>
    <% if !session[:turn_over] %>
      <%=  "#{@player.name} has #{@player.money} and bet #{@player.turn_bet} this round." %>
    <% end %>
  </h4>
  <% @player.hold_cards.each do |e| %>
    <%= "#{card_img(e)}" %>
  <% end %>
  <br />
  What would you like to do?<%= "#{@player.name} has #{calculate_point(@player.hold_cards)}." %>
  <% if !session[:turn_over] %>
    <% if session[:player_turn] %>
      <form action='/game/player/hit' method='post'>
        <input type='submit' class='btn btn-primary' value='Hit' />
      </form>
      <form action='/game/player/stay' method='post'>
        <input type='submit' class='btn' value='Stay' />
      </form>
    <% end %>
  <% end %>
</div>
<br/>
<div class="well" id='dealer_area'>
  <h4>
    <%= "Dealer's " %>
    <%= "point is : #{calculate_point(@dealer.hold_cards)}" if !session[:player_turn] %><br/>
    cards:
  </h4>
  <% @dealer.hold_cards.each_with_index do |e, i| %>
    <%= "#{card_img(e, !(session[:player_turn] && i==0))}" %>
  <% end %>
  <% if !session[:turn_over] %>
  <% if is_dealer_turn %>
    <form action='/game/dealer/hit' method='post'>
      <input type='submit' class='btn btn-small btn-info' value='Turn to Dealer Hit!' />
    </form>
  <% end %>
  <% end %>
</div>


